* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #c9cfd5;
  width: 100vw;
  height: 100vh;
  padding: 1em;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}
main {
  display: grid;
  gap: 1em;
  grid-template-areas:
    "a a b c"
    "d e e c";
  width: 70%;
  height: 50%;
}
main div {
  padding: 1em;
  text-align: center;
  border-radius: 0.5em;
}
.item-a {
  background-color: #8a2be2;
  grid-area: a;
}
.item-b {
  background-color: #373535;
  grid-area: b;
}
.item-c {
  background-color: #fff;
  grid-area: c;
}
.item-d {
  background-color: #fff;
  grid-area: d;
}
.item-e {
  background-color: #000;
  grid-area: e;
}
